.page.theme_dark {
  --accent-color: #ff0070;
  --main-color: #000028;
  --theme-switch-color: var(--accent-color, #ff0070);
  --theme-switch-hover-color: #ff007066;
  --title-color: #db00ff;
  --title-shadow-color: var(--accent-color, #ff0070);
  --title-section-color: var(--accent-color, #ff0070);
  --title-article-color: var(--main-color, #000028);
  --text-color: #f1b2ce;
  --link-color: var(--accent-color, #f1b2ce);
  --link-shadow-color: var(--accent-color, #ff0070);

  --visibility: visible;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-color: #000028;
    --theme-switch-color: var(--accent-color, #ff0070);
    --theme-switch-hover-color: #ff007066;
    --title-color: #db00ff;
    --title-shadow-color: var(--accent-color, #ff0070);
    --title-section-color: var(--accent-color, #ff0070);
    --title-article-color: var(--main-color, #000028);
    --text-color: #f1b2ce;
    --link-color: var(--accent-color, #f1b2ce);
    --link-shadow-color: var(--accent-color, #ff0070);

    --visibility: visible;
    --background-image: url(../images/cover-image-dark.png);
  }
}